/*
*
=============================== Bulletin panel  ======================
===============================    start  ======================
*/

.bulletin-panel {display:inline-block;width: 300px;height: 240px;border: 1px solid #ccc;}
.bulletin-panel .relative {position: relative;}
.bulletin-panel .panel-title{text-align: center;font-size: 18px;}
.bulletin-panel .panel-more{display: inline-block;position: absolute;right: 5px;top: 3px;}
.bulletin-panel .panel-content {margin: 0px; padding: 0px; }
.bulletin-panel .panel-content ul{list-style-type:none;}
.bulletin-panel .panel-content ul li{line-height: 20px; overflow: hidden; white-space: nowrap;text-overflow:ellipsis;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;}
.bulletin-panel .panel-content ul li a:link{text-decoration: none;}
.bulletin-panel .panel-content ul li a:hover{color: #B4B4B4;text-decoration: underline;}
.bulletin-panel .panel-content ul .prominent a:link{color: #000;}
.bulletin-panel .panel-content ul .prominent a:visited {color: #F00;}
.bulletin-panel .panel-content ul .prominent a:hover {color: #B4B4B4;text-decoration: underline;}
.bulletin-panel .panel-content ul .prominent a:active {color: #00F;}


/*
*
=============================== Bulletin panel  ======================
===============================  index page  ======================
*/
.bulletin-list {width: 700px; height: auto;}
.bulletin-list .panel-title{text-align: center;font-size: 18px;}
.bulletin-list .panel-table {width:700px;margin: 0px; padding: 0px; }
.bulletin-list .panel-table tbody td { line-height: 20px; }
.bulletin-list .panel-table tbody td span {width:200px;display: inline-block;overflow: hidden; white-space: nowrap;text-overflow:ellipsis;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;}
.bulletin-list .panel-table tbody td a:link{text-decoration: none;}
.bulletin-list .panel-table tbody td a:hover{color: #B4B4B4;text-decoration: underline;}
.bulletin-list .panel-table tbody .prominent a:link{color: #000;}
.bulletin-list .panel-table tbody .prominent a:visited {color: #F00;}
.bulletin-list .panel-table tbody .prominent a:hover {color: #B4B4B4;text-decoration: underline;}
.bulletin-list .panel-table tbody .prominent a:active {color: #00F;}
/*
*
=============================== Bulletin panel  ======================
===============================     end  ======================
*/