<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
  <description>listingtool1</description>
  <display-name>listingtool</display-name>
  <welcome-file-list>
    <welcome-file>/login.shtml</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		classpath*:config/springContext.xml
		classpath*:config/spring_*.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>spring.profiles.active</param-name>
    <param-value>production</param-value>
  </context-param>
  <session-config>
    <session-timeout>120</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>
  
  <!-- 单点登录 -->
  <filter>
		<filter-name>sso</filter-name>
		<filter-class>com.ssoclient.filter.SSOClientFilter</filter-class>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>appid</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>php_front_site_1</param-value>
		</init-param>
		<init-param>
			<param-name>clientType</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>sessionInvalid</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<param-name>excludeFile</param-name>
			<param-value>.png,.gif,.jpg,.bmp,.js,.css</param-value>
		</init-param>
		<init-param>
			<param-name>ssoURI</param-name>
			<param-value>http://www.itemtool.com</param-value>
		</init-param>
		<init-param>
			<param-name>webURI</param-name>
			<param-value>http://transaction.itemtool.com/portal-lt-frontend/index.shtml</param-value>
		</init-param>
		<init-param>
			<param-name>logoutURI</param-name>
			<param-value>retain</param-value>
		</init-param>
		<init-param>
			<param-name>excludePath</param-name>
			<param-value>login,language</param-value><!-- 配置不需要过滤的controll -->
		</init-param>
		<init-param>
			<param-name>excludeFile</param-name>
			<param-value>.png,.gif,.jpg,.bmp,.js,.css</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sso</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 国际化过滤器 -->
  <filter>
    <filter-name>languageFilter</filter-name>
    <filter-class>com.lt.frontend.common.filter.LanguageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>languageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>rdp_spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/config/rdp-springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>rdp_spring</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <servlet-name>rdp_spring</servlet-name>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>token-tag</taglib-uri>
      <taglib-location>/WEB-INF/token-tag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <error-page>
    <error-code>401</error-code>
    <location>/error/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error/pageError.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>InitLanguage</display-name>
    <servlet-name>InitLanguage</servlet-name>
    <servlet-class>com.lt.frontend.home.util.InitLanguage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitLanguage</servlet-name>
    <url-pattern>/InitLanguage</url-pattern>
  </servlet-mapping>
</web-app>