<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lt.dao.mapper.AdGoogleAdwordsReportCampaignMapper" >
   <!-- 自定义 -->
  <insert id="sync" parameterType="com.lt.dao.po.CampaignCostPO">
  	  	INSERT INTO lt_ad_google_adwords_report_campaign 
		(account_currency_code, account_descriptive_name, 
		      account_time_zone_id, active_view_cpm, active_view_impressions, 
		      advertising_channel_sub_type, advertising_channel_type, 
		      amount, average_cpc, average_cpm, 
		      average_frequency, average_pageviews, average_position, 
		      average_time_on_site, avg_cost_for_offline_interaction, 
		      bid_type, bidding_strategy_id, bidding_strategy_name, 
		      bidding_strategy_type, bounce_rate, budget_id, 
		      campaign_id, campaign_name, campaign_status, 
		      click_assisted_conversion_value, click_assisted_conversions, 
		      click_assisted_conversions_over_last_click_conversions, click_conversion_rate, 
		      click_type, clicks, content_budget_lost_impression_share, 
		      content_impression_share, content_rank_lost_impression_share, 
		      conversion_category_name, conversion_rate_many_per_click, 
		      conversion_tracker_id, conversion_type_name, 
		      conversion_value, conversions_many_per_click, 
		      converted_clicks, cost, cost_per_conversion_many_per_click, 
		      cost_per_converted_click, cost_per_estimated_total_conversion, 
		      ctr, customer_descriptive_name, date, 
		      day_of_week, device, enhanced_cpc_enabled, 
		      estimated_cross_device_conversions, estimated_total_conversion_rate, 
		      estimated_total_conversion_value, estimated_total_conversion_value_per_click, 
		      estimated_total_conversion_value_per_cost, estimated_total_conversions, 
		      external_customer_id, hour_of_day, impression_assisted_conversion_value, 
		      impression_assisted_conversions, impression_assisted_conversions_over_last_click_conversions, 
		      impression_reach, impressions, invalid_click_rate, 
		      invalid_clicks, is_budget_explicitly_shared, 
		      month, month_of_year, num_offline_impressions, 
		      num_offline_interactions, offline_interaction_cost, 
		      offline_interaction_rate, percent_new_visitors, 
		      primary_company_name, quarter, relative_ctr, 
		      search_budget_lost_impression_share, search_exact_match_impression_share, 
		      search_impression_share, search_rank_lost_impression_share, 
		      serving_status, total_budget, total_cost, 
		      tracking_url_template, value_per_conversion_many_per_click, 
		      value_per_converted_click, value_per_estimated_total_conversion, 
		      view_through_conversions, week, year, 
		      ad_network_type1, ad_network_type2, 
		      advertiser_experiment_segmentation_bin, click_conversion_rate_significance, 
		      click_significance, conversion_many_per_click_significance, 
		      conversion_rate_many_per_click_significance, converted_clicks_significance, 
		      cost_per_conversion_many_per_click_significance, cost_per_converted_click_significance, 
		      cost_significance, cpc_significance, 
		      cpm_significance, ctr_significance, 
		      impression_significance, label_ids, 
		      labels, period, position_significance, 
		      slot, url_custom_parameters, view_through_conversions_significance
		      ,is_charged
		      )
		SELECT 
		account_currency_code, account_descriptive_name, 
		      account_time_zone_id, active_view_cpm, active_view_impressions, 
		      advertising_channel_sub_type, advertising_channel_type, 
		      amount, average_cpc, average_cpm, 
		      average_frequency, average_pageviews, average_position, 
		      average_time_on_site, avg_cost_for_offline_interaction, 
		      bid_type, bidding_strategy_id, bidding_strategy_name, 
		      bidding_strategy_type, bounce_rate, budget_id, 
		      campaign_id, campaign_name, campaign_status, 
		      click_assisted_conversion_value, click_assisted_conversions, 
		      click_assisted_conversions_over_last_click_conversions, click_conversion_rate, 
		      click_type, clicks, content_budget_lost_impression_share, 
		      content_impression_share, content_rank_lost_impression_share, 
		      conversion_category_name, conversion_rate_many_per_click, 
		      conversion_tracker_id, conversion_type_name, 
		      conversion_value, conversions_many_per_click, 
		      converted_clicks, cost, cost_per_conversion_many_per_click, 
		      cost_per_converted_click, cost_per_estimated_total_conversion, 
		      ctr, customer_descriptive_name, date, 
		      day_of_week, device, enhanced_cpc_enabled, 
		      estimated_cross_device_conversions, estimated_total_conversion_rate, 
		      estimated_total_conversion_value, estimated_total_conversion_value_per_click, 
		      estimated_total_conversion_value_per_cost, estimated_total_conversions, 
		      external_customer_id, hour_of_day, impression_assisted_conversion_value, 
		      impression_assisted_conversions, impression_assisted_conversions_over_last_click_conversions, 
		      impression_reach, impressions, invalid_click_rate, 
		      invalid_clicks, is_budget_explicitly_shared, 
		      month, month_of_year, num_offline_impressions, 
		      num_offline_interactions, offline_interaction_cost, 
		      offline_interaction_rate, percent_new_visitors, 
		      primary_company_name, quarter, relative_ctr, 
		      search_budget_lost_impression_share, search_exact_match_impression_share, 
		      search_impression_share, search_rank_lost_impression_share, 
		      serving_status, total_budget, total_cost, 
		      tracking_url_template, value_per_conversion_many_per_click, 
		      value_per_converted_click, value_per_estimated_total_conversion, 
		      view_through_conversions, week, year, 
		      ad_network_type1, ad_network_type2, 
		      advertiser_experiment_segmentation_bin, click_conversion_rate_significance, 
		      click_significance, conversion_many_per_click_significance, 
		      conversion_rate_many_per_click_significance, converted_clicks_significance, 
		      cost_per_conversion_many_per_click_significance, cost_per_converted_click_significance, 
		      cost_significance, cpc_significance, 
		      cpm_significance, ctr_significance, 
		      impression_significance, label_ids, 
		      labels, period, position_significance, 
		      slot, url_custom_parameters, view_through_conversions_significance, #{isCharged}
		 FROM lt_google_adwords_report_campaign where `date` = #{date}
  </insert>
  
  <select id="getIsCharged" resultType="java.lang.Integer" parameterType="java.util.Date" >
    select is_charged from lt_ad_google_adwords_report_campaign
	where date = #{date} limit 1
  </select>
  
  <update id="batchUpdate"  parameterType="java.util.List">
     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
          update lt_ad_google_adwords_report_campaign
          set markup_type = #{item.markupType},
          markup_amount = #{item.markupAmount},
          charge_amount = #{item.chargeAmount},
          lt_ad_campaign_id = #{ltAdCampaignId}
          where id = #{item.id}
     </foreach>
   </update>
   
   <update id="update"  parameterType="com.lt.dao.model.AdGoogleAdwordsReportCampaign">
          update lt_ad_google_adwords_report_campaign
          set markup_type = #{markupType},
          markup_amount = #{markupAmount},
          charge_amount = #{chargeAmount},
          lt_ad_campaign_id = #{ltAdCampaignId}
          where id = #{id}
   </update>
   
   
   <!-- ***************新方案**************** -->
    <delete id="delete" parameterType="com.lt.dao.po.CampaignCostPO">
  		delete from lt_ad_google_adwords_report_campaign where date = #{date} 
   </delete>
   
   <!-- 根据cost百分比对公司计费 -->
  <update id="updateByPercentage" parameterType="com.lt.dao.po.CampaignCostPO">
  	 update lt_ad_google_adwords_report_campaign t1, lt_google_adwords_campaign t2, lt_ad_campaign t3
     set t1.markup_type = #{markupType},
     t1.markup_amount = #{markupAmount},
     t1.charge_amount = t1.cost/1000000 * (1 + #{markupAmount}),
     <if test="isCharged != null">
     	t1.is_charged = #{isCharged},
     </if>
     t1.lt_ad_campaign_id = t2.lt_ad_campaign_id
	where t1.campaign_id = t2.id
	and t2.lt_ad_campaign_id = t3.id
	and t1.date = #{date}
	and t3.company_id = #{companyId}
  </update>
  
  <!-- 根据点击数公司计费 -->
  <update id="updateByClicks"  parameterType="com.lt.dao.po.CampaignCostPO">
     update lt_ad_google_adwords_report_campaign t1, lt_google_adwords_campaign t2, lt_ad_campaign t3
     set t1.markup_type = #{markupType},
     t1.markup_amount = #{markupAmount},
     t1.charge_amount = cost/1000000 + #{markupAmount} * clicks,
     <if test="isCharged != null">
     	t1.is_charged = #{isCharged},
     </if>
     t1.lt_ad_campaign_id = t2.lt_ad_campaign_id
	where t1.campaign_id = t2.id
	and t2.lt_ad_campaign_id = t3.id
	and t1.date = #{date}
	and t3.company_id = #{companyId}
  </update>
  
  <!-- 按日期获取公司的计费总和(is_charged = 1表示已经计费，但没有重新同步报表数据) -->
  <select id="countAmountByCompanyId" parameterType="com.lt.dao.po.AdGoogleAdwordsReportCampaignPO" resultType="java.math.BigDecimal">
  	select sum(charge_amount) from lt_ad_google_adwords_report_campaign t1,
		lt_ad_campaign t2
	where t1.lt_ad_campaign_id = t2.id
	and t1.date = #{date}
	and t2.company_id = #{companyId}
	and t1.is_charged != 1
  </select>
  
  <!-- 按日期获取活动的计费总和 -->
  <select id="countAmountByCampaignId" parameterType="com.lt.dao.po.CampaignCostPO" resultType="java.math.BigDecimal">
  	select sum(charge_amount) from lt_ad_google_adwords_report_campaign t1
	where t1.lt_ad_campaign_id = #{ltAdCampaignId}
	and t1.date = #{date}
	<if test="isCharged != null">
     	and t1.is_charged = #{isCharged}
     </if>
  </select>
  
  <!-- 修改为已处理 -->
  <update id="updateCharged" parameterType="java.util.Date">
  	update lt_ad_google_adwords_report_campaign
  	set is_charged = 1
  	where date = #{date}
  	and is_charged = 0
  </update>
</mapper>