<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-lazy-init="true">

	<!-- adwords定时器 start -->
	<bean id="adwordsReportJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.lt.backend.job.AdWordsReportJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	
	<bean id="adwordsReportTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="adwordsReportJob" />
		<!--adwords report 下载数据-->
		<property name="cronExpression">
			<value>0 0 2/6 * * ?</value>
			<!-- <value>0 0 20/6 * * ?</value> -->
		</property>
	</bean>
	
	
    <bean id="adwordsAudienceJob"
        class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.lt.backend.job.AdWordsAudienceJob"></property>
        <property name="durability" value="true"></property>
    </bean>
    
    <bean id="adwordsAudienceTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="adwordsAudienceJob" />
        <!--adwords report 下载数据-->
        <property name="cronExpression">
            <value>0 0/10 * * * ?</value>
            <!-- <value>0 0 20/6 * * ?</value> -->
        </property>
    </bean>
	<!-- adwords定时器  end-->
	
    <!-- analytics定时器 start -->
    <bean id="analyticsReportJob"
        class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.lt.backend.job.AnalyticsReportJob"></property>
        <property name="durability" value="true"></property>
    </bean>
    
    <bean id="analyticsReportTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="analyticsReportJob" />
        <!--adwords report 下载数据-->
        <property name="cronExpression">
            <value>0 0 0/12 * * ?</value>
            <!-- <value>0 0 20/6 * * ?</value> -->
        </property>
    </bean>
    <!-- analytics定时器  end-->
    
	<!-- 统计扣款定时器 -->
	<bean id="adwordsCountJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.lt.backend.job.AdwordsCountJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="adwordsCountTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="adwordsCountJob" />
		<property name="cronExpression">
			<value>0 0 22 * * ?</value>
			<!-- <value>0 */2 * * * ?</value> -->
		</property>
	</bean>
	
	<!-- 消息推送定时器 -->
	<bean id="messageTipJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.lt.backend.job.MessageTipJob"></property>
		<property name="durability" value="true"></property>
	</bean>
	<bean id="messageTipTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="messageTipJob" />
		<property name="cronExpression">
			<value>0 0/5 * * * ?</value>
		</property>
	</bean>
	
	<!-- 启动调度 ref bean="trigger -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
			     <!-- 前三用于报表服务器 -->
		         <ref bean="adwordsReportTrigger" /> 
                 <ref bean="adwordsAudienceTrigger" />
                 <ref bean="analyticsReportTrigger" />
                 <!-- 以下对应微软云服务器 -->
		         <!-- <ref bean="adwordsCountTrigger"/>
		         <ref bean="messageTipTrigger"/> -->
			</list>
		</property>
	</bean>
	
	<bean id="taskExecutor"  
        class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
        <property name="corePoolSize" value="5" />  
        <property name="maxPoolSize" value="10" />  
        <property name="queueCapacity" value="50" />  
        <property name="keepAliveSeconds" value="60000" />  
        <property name="rejectedExecutionHandler">  
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />  
        </property>  
    </bean>  
</beans>
